@page "/cart"
@inject ICartService CartService
@inject IOrderService OrderService
@inject NavigationManager Navigation
@inject IAuthService AuthService
@implements IDisposable

<MudText Class="mb-10" Typo="Typo.h3">
    Shopping cart
</MudText>

@if (cartProducts == null || cartProducts.Count == 0)
{
    <MudText Typo="Typo.h5">
        @message
    </MudText>
}

else
{
    <MudTable Class="mb-10" Items="cartProducts"
          Hover="true" Elevation="1">
        <HeaderContent>
            <MudTh>Title</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>Image</MudTh>
            <MudTh>Type</MudTh>
            <MudTh>Price</MudTh>
            <MudTh></MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Title">
                @context.Title
            </MudTd>
            <MudTd>
                <MudNumericField Value="context.Quantity" ValueChanged="@((int val) => UpdateQuantity(val,context))" Variant="Variant.Text" Min="1" Style="width:50px" />
            </MudTd>
            <MudTd DataLabel="Image">
                <MudAvatar Style="height:60px; width:60px;" Image=@context.ImageUrl />
            </MudTd>
            <MudTd DataLabel="Type">@context.ProductType</MudTd>

            <MudTd DataLabel="Price">$@(context.Price * context.Quantity)</MudTd>
            <MudTd DataLabel="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="(e)=> DeleteFromCart(context)" Color="Color.Error" />
            </MudTd>
        </RowTemplate>
    </MudTable>

    <MudGrid>
        <MudItem xs="12" md="8">
            @if (_isAuthenticated)
            {
                <MudCard>
                    <MudText Class="pa-6" Typo="Typo.h5">
                        Delivery address
                    </MudText>
                    <div class="pa-6">
                        <AddressForm />
                    </div>
                </MudCard>
            }
        </MudItem>
        <MudItem xs="12" md="4">
            <MudCard>
                <MudList Clickable="true">
                    <MudListItem Icon="@Icons.Filled.AttachMoney">
                        <MudText Typo="Typo.subtitle1">
                            Total (@cartProducts.Sum(i=>i.Quantity)): $@cartProducts.Sum(p => p.Price * p.Quantity)
                        </MudText>
                    </MudListItem>
                    <MudDivider />

                    <MudListItem Icon="@Icons.Material.Filled.Send">
                        <MudButton Disabled="@_processing" OnClick="AddOrder" FullWidth="true" Variant="Variant.Outlined" Color="Color.Secondary">
                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Loading...</MudText>
                            }
                            else
                            {
                                <MudText>Checkout</MudText>
                            }
                        </MudButton>
                    </MudListItem>

                </MudList>
            </MudCard>
        </MudItem>
    </MudGrid>

}

@code {
    List<CartProductDto> cartProducts = null;
    string message = "Loading cart...";
    bool _processing = false;
    bool _isAuthenticated = false;
    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await AuthService.IsAuthenticated();
        CartService.OnChange += StateHasChanged;
        await LoadCart();
    }

    private async void DeleteFromCart(CartProductDto item)
    {
        await CartService.RemoveProductFromCart(item.ProductId, item.ProductTypeId);
        await LoadCart();
        StateHasChanged();

    }

    private async Task LoadCart()
    {
        await CartService.GetCartItemsCount();
        cartProducts = await CartService.GetCartProducts();
        if (cartProducts == null || cartProducts.Count == 0)
        {
            message = "Your cart is empty.";
            cartProducts = new List<CartProductDto>();
        }
    }

    private async Task UpdateQuantity(int value, CartProductDto product)
    {
        product.Quantity = value;
        if (product.Quantity < 1)
        {
            product.Quantity = 1;
        }
        await CartService.UpdateQuantity(product);
    }

    private async Task AddOrder()
    {
        _processing = true;
        string url = await OrderService.AddOrder();
        Navigation.NavigateTo(url);
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

}
